<h1>bienvenida a netbat</h1>
<p>Puedes ver <a href="/netbat/listUHF"> mensajes UHF</a></tr>
<p>Puedes ver <a href="/netbat/listAIS"> mensajes AIS</a></tr>
<p>Puedes ver <a href="/netbat/listSMS"> mensajes SMS</a></tr>
<p>Puedes ver <a href="/netbat/listMTU100"> mensajes MTU100</a></tr>
<p>Puedes ver <a href="/netbat/listMTU300"> mensajes MTU300</a></tr>